__pycache__/
labels/
data/
*.csv
*.ipynb_checkpoint*
runs/
train_classifier/experiment_results_visualization.ipynb
train_classifier/test_notebook_pdf.ipynb
train_classifier/train_siteclusters_RF.ipynb
